.testbtn {
            background-color: rgb(135, 135, 50);
            color: rgb(239, 235, 235);
            font-size: 15px;
            padding: 12px;
            border: none;
            border-radius: 5px;
            border-color: black;
            cursor: pointer;
        }

        .testbtn:hover {
            background-color: rgb(7, 7, 7);
        }

        .testbtw {
            background-color: rgb(135, 135, 50);
            color: rgb(239, 235, 235);
            font-size: 15px;
            padding: 12px;
            border: none;
            border-radius: 5px;
            border-color: black;
            cursor: pointer;
            text-decoration: none;
        }

        .testbtw:hover {
            background-color: rgb(7, 7, 7);
        }