h1{
    text-align: center;
}
form{
    background-color: rgb(4, 80, 4);
    padding: 20px;
    margin: 20px 520px;
    border-radius: 20px;
    border-style: groove;
    width: 400px;
    height: 290px;
    color: antiquewhite;
    justify-content: flex-start;
}
div{
    margin: 20px;
    text-align: left;
}
input{
    border-width: 2px;
    border-radius: 5px;
}
.button{
    background-color: antiquewhite;
    border-radius: 5px;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    margin-left: 130px;
}
.button:hover{
    background-color:black;
    color: antiquewhite;
}