.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.one{
    background-color: rgb(0, 255, 229);
    margin: 6px;
    height: 100px;
    flex-basis: 20%;
}
.two{
    background-color: rgb(0, 204, 255);
    margin: 6px;
    height: 100px;
    flex-basis: 20%;
}
.three{
    background-color: rgb(193, 47, 255);
    margin: 6px;
    height: 100px;
    flex-basis: 20%;
}
.four{
    background-color: rgb(193, 47, 255);
    margin: 6px;
    height: 100px;
    flex-basis: 20%;
}
@media screen and (min-width:800px){
    .one{
        flex-basis: 40%;
    }
}
@media screen and (min-width:800px){
    .two{
        flex-basis: 40%;
    }
}
@media screen and (min-width:800px){
    .three{
        flex-basis: 40%;
    }
}
@media screen and (min-width:800px){
    .four{
        flex-basis: 40%;
    }
}