h1{
    color: rgb(55, 170, 215);
} 
/* perusa irukura pixel la first poodanum */
@media screen and (max-width:1000px){
    h1{
        color: brown;
    }
}
@media screen and (max-width:800px){
    h1{
        color:pink;
    }
}
@media screen and (max-width:600px){
    h1{
        color:green;
    }
}
@media screen and (max-width:400px){
    h1{
        color:black;
    }
}
@media screen and (max-width:200px){
    h1{
        color:olive;
    }
}
 div{
    background-color: black;
    height: 100px;
 }
@media screen and (max-width:1000px){
    div{
        background-color: chartreuse;
    }
 }
 @media screen and (max-width:800px){
    div{
        background-color: red;
    }
 }
 @media screen and (max-width:600px){
    div{
        background-color: purple;
    }
 }
 @media screen and (max-width:400px){
    div{
        background-color: blue;
    }
 }
 @media screen and (max-width:200px){
    div{
        background-color: yellow;
    }
}