header{
    background-color: rgb(150, 135, 151);
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}
h1{
    margin: 40px;
    text-shadow: 3px 3px 20px rgb(107, 7, 107);
    font-style: italic;
    font-size: 50px;
}
nav{
    float: right;
}
nav a{
   margin: 0px 35px;
   text-decoration: none;
   color: black;
}
.home:hover{
    background-color: rgb(112, 69, 112);
    color: antiquewhite;
    border-radius: 3px;
}
.serv:hover{
    background-color: rgb(112, 69, 112);
    color: antiquewhite;
    border-radius: 3px;
}
.abt:hover{
    background-color: rgb(112, 69, 112);
    color: antiquewhite;
    border-radius: 3px;
}
.cont:hover{
    background-color: rgb(112, 69, 112);
    color: antiquewhite;
    border-radius: 3px;
}
h3{
    text-align: center;
}
p{
    padding: 20px;
    text-align: center;
}
.para{
    text-align: left;
    padding-right: 700px;
    word-spacing: 10px;
}
img{
    width: 550px;
    height: 550px;
    padding: 20px;
    display: flex;
}
aside{
    margin-left: 1100px;
}
.container{
    display: flex;
    flex-direction: row;
    background-color: rgb(36, 21, 51);
}
.container div{
    margin: 5px;
    padding: 5px;
    background-color: rgb(53, 40, 65);
    color: antiquewhite;
}
.flex-item{
   background-color: #f1f1f1;
  padding: 5px;
  font-size: 20px;
  text-align: center;
  width: 50%;   
}
footer{
    background-color: black;
    color: antiquewhite;
    padding: 10px;
    text-align: center;
}
.indhu{
    font-weight: bolder;
    font-size: 80px;
    font-style:Arial;
}
.gop{
    font-weight: bolder;
    font-size:60px;
    margin-left: 198px;
}