body{
    background-image: url("https://wallpapercave.com/wp/wp2919277.jpg");
    background-attachment: fixed;
    background-position: fixed;
    background-repeat: no-repeat;
    display: flex;
}
input{
    border-radius: 50px;
    padding: 5px;
    border-width: 1px;
    width: 900px;
    height: 40px;
    opacity: 80%;
    margin: 50px 0px 0px 300px;
    text-align: center;
}
.content{
    width: 20px;
    height: 20px;
    justify-content: left;
    margin-left: 10px;
    
}